@import "tailwindcss";

@theme {
  --color-nexus-blue: #3b82f6;
  --color-nexus-dark: #050505;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}